<head>
    <style>
        table, tr, th, td {
            border: 1px solid black;
        }
    </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.name }}</td>
                <td>{{ doctor.email }}</td>
                <td><a href="/addClinic/{{ doctor.id }}">Add Clinic</a></td>
                <td><a href="/addSpeciality/{{ doctor.id }}">Add Speciality</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="/addDoctor/new">Add New Doctor</a>
<br>
<a href='/search'> Search Doctor </a>
